<ion-tabs>
  <ion-tab-bar slot="bottom" class="arpe-tabbar">
    <ion-tab-button tab="home">
      <img class="tic tic-off" src="assets/tabs/inicio-inactive.svg" alt="" />
      <img class="tic tic-on" src="assets/tabs/inicio-active.svg" alt="" />
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="para-ti">
      <img class="tic tic-off" src="assets/tabs/parati-inactive.svg" alt="" />
      <img class="tic tic-on" src="assets/tabs/parati-active.svg" alt="" />
      <ion-label>Para ti</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="ticket" class="tab-center">
      <div class="center-btn">
        <img class="cqr cqr-off" src="assets/tabs/qr.svg" alt="" />
        <img class="cqr cqr-on" src="assets/tabs/qr-white.svg" alt="" />
      </div>
      <ion-label>Ticket</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="premios">
      <img class="tic tic-off" src="assets/tabs/premios-inactive.svg" alt="" />
      <img class="tic tic-on" src="assets/tabs/premios-active.svg" alt="" />
      <ion-label>Premios</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="perfil">
      <img class="tic tic-off" src="assets/tabs/perfil-inactive.svg" alt="" />
      <img class="tic tic-on" src="assets/tabs/perfil-active.svg" alt="" />
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
